<nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
    <a href="/" class="navbar-brand">
        GuiaPress
    </a>

    <ul class="navbar-nav ml-auto">

        <li class="navbar-nav mr-auto">
            <a href="/" class="nav-link">Voltar</a>
        </li>


        
    </ul>


</nav>