
<%- include('partials/header.ejs') %>
    <%- include('partials/homenavbar.ejs') %>
    <body>
        <div class="container">
            <hr>
            <div class="jumbotron">
                <h1 class="display-4">Bem-Vindos</h1>
                <p class="lead">ao meu blog</p>
                <hr class="my-4">
                <p>Este é um blog de teste</p>
                <a href="#" class="btn btn-primary btn-lg" role="button">Leia mais</a>
            </div>
            <hr>

            <% articles.forEach(article => { %>
                
                <div class="card">
                    <dev class="card-header">
                        <h2> <%= article.title%> </h2>
                    </dev>
                    <div class="card-body">

                        <a href="" class="btn btn-success">Ler artigo</a>

                    </div>
                </div><br>
                
            <% }) %>

        </div>
    </body>

    <%- include('partials/footer.ejs') %>